@import 'reset';
@import 'header';
@import 'intro';


body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

